# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.


## Webclient config files. Uncomment one depending on UI being used.
#[include mainsail.cfg]
#[include fluidd.cfg] 


############################################################
# X Stepper Settings
############################################################

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
rotation_distance: 32
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^!PC0
position_min: -13
position_endstop: -13
position_max: 240
homing_speed: 80

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold: 999999


############################################################
# Y Stepper Settings
############################################################

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
rotation_distance: 32
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^!PC1
position_min: 0
position_endstop: 0
position_max: 220
homing_speed: 80

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 999999


############################################################
# Z Stepper Settings
############################################################

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
rotation_distance: 32
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_max: 220

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 999999


############################################################
# Extruder Stepper Settings
############################################################

[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD2
rotation_distance: 21.565
microsteps: 16
full_steps_per_rotation: 200
gear_ratio: 50:17
nozzle_diameter: 0.4
filament_diameter: 1.75
max_extrude_only_distance: 100.0
pressure_advance: 0.04 # Perform a pressure advance tuning for your filament
heater_pin: PC8
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PA0
min_temp: 0
max_temp: 270
# Do not use the following values - perform a PID calibration!
control: pid
pid_kp: 21.177
pid_ki: 1.120
pid_kd: 100.060

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
stealthchop_threshold: 0


############################################################
# Bed Settings
############################################################

[heater_bed]
heater_pin: PC9
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PC3
min_temp: 0
max_temp: 120
# Do not use the following values - perform a PID calibration!
control: pid
pid_kp: 67.669
pid_ki: 0.542
pid_kd: 2113.804

[bed_mesh]
speed: 80
horizontal_move_z: 5
mesh_min: 20,20
mesh_max: 200,200
probe_count: 6,6
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: 0.2


############################################################
# Homing and Bed Leveling
############################################################

[probe]
pin: ^!PC2
x_offset: 0.0
y_offset: 25.0
z_offset: 2.0 # Adjust with probe_calibrate
speed: 15
samples: 2

[safe_z_home]
home_xy_position: 110,110
speed: 80
z_hop: 5
z_hop_speed: 20

[screws_tilt_adjust]
screw1: 25,0
screw1_name: front left screw
screw2: 195,0
screw2_name: front right screw
screw3: 195,170
screw3_name: rear right screw
screw4: 25,170
screw4_name: rear left screw
horizontal_move_z: 5
speed: 80
screw_thread: CW-M3


############################################################
# Mechanics and Electronics
############################################################

[printer]
kinematics: corexz
max_velocity: 200
max_accel: 2000
max_accel_to_decel: 2000
square_corner_velocity: 5.0
max_z_velocity: 100
max_z_accel: 1000

[mcu]
serial: # See https://www.klipper3d.org/Installation.html
restart_method: command

[fan]
pin: PC6
off_below: 0.1

[heater_fan hotend_fan]
pin: PC7
off_below: 0.1
heater: extruder

[idle_timeout]
timeout: 600 # 10 minutes
gcode:
    TURN_OFF_HEATERS
    M107 ; Turn off fans
    SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=0
    SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0


############################################################
# Macro Definitions
############################################################

[gcode_macro START_PRINT]
gcode:
    G28                            ; Home
    G92 E0                         ; Zero the extruder
    G0 E5 F60                      ; Prime nozzle with filament
    G92 E0                         ; Zero the extruder

[gcode_macro END_PRINT]
gcode:
    G92 E0                         ; Zero the extruder
    G1 E-5 F3600                   ; Retract filament
    TURN_OFF_HEATERS
    M107                           ; Turn off fans
    G91                            ; Relative positioning
    G0 Z3 F3600                    ; Move nozzle up
    G90                            ; Absolute positioning
    G28 X                          ; Home X
    G0 Y200                        ; Move bed to front

    # Disable extruder and Y stepper
    SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=0
    SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0
